*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	// 1rem = 10px
	font-size: 62.5%; // 1rem =10px; 10px/16px = 62.5%
	height: 100%;
	@include respond(tab-land) {
		font-size: 56.25%; // 1rem =9px; 10px/16px = 62.5%
	}
	@include respond(tab-port) {
		font-size: 50%; // 1rem =8px; 8px/16px = 50%
	}
	@include respond(big-desktop) {
		font-size: 75%; // 1rem =12px; 12px/16px = 75%%
	}
}
body {
	box-sizing: border-box;
	background-color: var(--color-grey-light-1);
	font-family: var(--open-sans);
	// @include respond(tab-port) {
	// 	padding: 0;
	// }
	height: inherit;
}
#root,
#root > div {
	height: inherit;
}
main {
	height: 100%;
	display: flex;
	justify-content: center;
	margin-top: 12rem;
}
